/* mobile first */
body { font-size: 12px; }

/* tabletas */
@media (min-width: 780px) {
  body { font-size: 16px; }
  img{
   width: 100%;
   max-width:720px;
   max-height: 1600px;
   opacity:0.5;
   filter:alpha(opacity=50);
 }
}

/* escritorio normales */
@media (min-width: 1000px) {
  body { font-size: 17px; }
}

/* pantallas grandes */
@media (min-width: 1200px) {
  body { font-size: 18px; }
}
