@media screen and (min-width: 780px) and (max-width: 1024px){
 .menu{
  background: #884EA0;
 }
 footer{
  background: #884EA0;
  text-align: left;

 }
}
@media screen and (min-width: 480px) and (max-width: 780px){
   .menu{
  background: #884EA0;
 }
 footer{
  background: #884EA0;
  text-align: left;

 }
 
}
@media screen and (max-width: 480px){
   .menu{
  background: #884EA0;
 }
 footer{
  background: #884EA0;
  text-align: left;

 }
  
}
